---
import RightArrowIcon from "@assets/icons/RightArrowIcon.astro";
---

<button>
  <a
    href="/blog"
    class="dark:boder-zinc-400 inline-block rounded border border-zinc-600 px-6 py-3 text-sm font-medium text-zinc-600 transition-all hover:bg-zinc-600 hover:text-white focus:outline-none focus:ring active:bg-zinc-500 dark:text-zinc-400 dark:hover:border-zinc-600 dark:hover:text-white"
  >
    전체 블로그 글 보기
    <RightArrowIcon />
  </a>
</button>
